* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top {
    background-color: #FFFFFF;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.top_menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu_text {
    color: #17132E;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

.menu_text:hover {
    color: #FFC900;
}

.container {
    height: 100vh; /* vh(vertical height) : 뷰포트의 높이값에 맞게 지정  */
    display: flex; /* 컨텐츠 안의 플렉스 항목을 블록 레벨 요소로 배치 */
    align-items: center; /* 세로 정렬 : 가운데 */
    justify-content: center; /* 가로 정렬 : 가운데 */
    animation: expand .8s ease forwards; /* forwards : 애니메이션이 키프레임 100%에 도달했을 때 마지막 프레임 유지 */
    /* 애니메이션: 이름, 지속 시간, 트랜지션 속도, 애니메이션 반복 횟수 */
    background-color: #FFC900;
    position: relative; /* 요소 자기 자신을 기준으로 배치 */
}

@keyframes expand { /* keyframe : 애니메이션이 바뀌는 지점을 지정한다 */
    0% { /* 애니메이션의 시작 (=to) */
        transform: translateY(100vh);
    }
    100% { /* 애니메이션의 끝 (=to) */
        transform: translateX(0);
    }
}

.main {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

img {
    width: 300px;
    height: 300px;
    border: 1px solid #17132E;
    border-radius: 100%;
    padding: 10px;
    animation: rotate 25s linear infinite;
    /* 애니메이션: 이름, 지속 시간, 트랜지션 속도(일정하게), 애니메이션 반복 횟수(무한으로) */
}

@keyframes rotate {
    0% { 
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); /* 360도 회전 */
    }
}

.main_text {
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wecode {
    font-style: italic;
    background-color: #17132E;
    color: #FFFFFF;
    padding: 4px;
}

